$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{calc(0.25 * $space)}rem;
  }
  .my-#{$space} {
    margin: #{calc(0.25 * $space)}rem 0;
  }
  .ml-#{$space} {
    margin-left: #{calc(0.25 * $space)}rem;
  }
}
