.cart-list-container {
  width: 100%;
  overflow-y: scroll;
  background-color: rgba($white, 0.7);
  padding: 2em;
}

.cart-list-section {
  display: flex;
  flex-direction: column;
}
.cart-list {
  margin: 0;
}

.kvitto-container {
  width: 100%;
  display: none;

  button {
    font-size: 1.15rem;
  }
}

.kvitto-container.mobile {
  display: inline;
}

.cart-list-btn-container {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .cart-list-section {
    flex-direction: row;
  }
  .cart-list {
    margin-right: 2rem;
  }

  .kvitto-container {
    display: inline;
  }

  .kvitto-container.mobile {
    display: none;
  }
}
