.home {
  height: 100%;
  width: 100%;
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  section {
    overflow-y: scroll;
  }
  img {
    width: 320px;
    height: auto;
    margin-right: 3rem;
    display: none;
  }
  .home-content-container {
    border: 2px solid $white;
    width: 80vw;
    padding: 2em;
    color: $white;
    display: flex;
    text-align: center;
  }
}

@media screen and (min-width: $tablet-min) {
  .home {
    img {
      display: inline-block;
    }
    .home-content-container {
      width: 420px;
      text-align: start;
      align-items: flex-start;
    }
  }
}
