%btn {
  @extend %container-center;
  border-radius: 5px;
  margin: 0.15rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 250ms ease-out;
  font-family: $typo-body;
  &:hover {
    transform: scale(1.025);
  }
}

%btn-default {
  @extend %btn;
  max-width: 360px;
  padding: 0.5rem 1rem;
}

%btn-main {
  @extend %btn;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: $white;
  border: 1px solid $secondary;
  background-color: $secondary;
}

.btn-clickable {
  border: none;
  padding: 0;
  font-family: $typo-body;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

.btn-filter {
  @extend %btn;
  border-radius: 0;
  color: $black;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $primary;
    border-bottom: 1px solid $primary;
  }
}

.btn-primary {
  @extend %btn-default;
  color: $white;
  border: 1px solid $primary;
  background-color: $primary;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
}

.btn-secondary {
  @extend %btn-default;
  color: $white;
  border: 1px solid $secondary;
  background-color: $secondary;

  &:hover {
    background-color: transparent;
    color: $secondary;
  }
}

.btn-secondary-main {
  @extend %btn-main;
  &:hover {
    background-color: $secondaryFade;
  }
}

.btn-value {
  @extend %btn-default;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  border: 1px solid $primary;
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
}
