.detail {
  width: 100%;
  background-color: rgba($white, 0.7);
  padding: 2em;
  overflow-y: scroll;
  border-radius: 5px;

  section {
    flex-direction: column;
  }
  .detail-img {
    width: 320px;
    height: 420px;
    object-fit: contain;
  }

  .detail-meta {
    div {
      margin-bottom: 2rem;
    }

    div:last-child {
      margin-bottom: 0;
    }

    button {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  .detail {
    section {
      padding: 2em;
      flex-direction: row;
    }
    .detail-img {
      margin-right: 3rem;
      width: 450px;
      height: 520px;
    }
  }
}
