.filter {
  align-items: center;
  padding: 0.5em;
  background-color: $white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid $primary;
  p {
    margin-bottom: 0.5rem;
  }

  button {
    margin-left: 0.75rem;
  }
  button:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: $tablet-min) {
  .filter {
    flex-direction: row;
    p {
      margin-bottom: 0.25rem;
    }
  }
}
