.product-editor {
  background-color: $white;
  border-radius: 5px;
  justify-content: center;
  padding: 2em;
  flex-direction: column;
  margin-bottom: 1rem;

  img {
    width: 280px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 2rem;
  }
  textarea {
    width: 100%;
  }
}

@media screen and (min-width: $tablet-max) {
  .product-editor {
    width: 45%;
    flex-direction: row;
    margin: 1rem;

    img {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }
}
