@use "./sass/abstracts" as *;
@import "./sass/pages";
@import "./sass/components";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-family: $typo-body;
  font-weight: 300;
  color: $black;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  width: 100%;
  height: 100%;
}

/*
 scrollbar styling
*/

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: $primary; /* color of the scroll thumb */
  border-radius: 5; /* roundness of the scroll thumb */
}
