@use "./sass/abstracts/utilities";
@use "./sass/components/button";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-weight: 300;
  color: #2a2f35;
  background-color: #f7f6f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
